
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif; 
}

.table3 img{
height: 100px;
width: 100px;
padding: 10px;
}
.table3{
    width: 100%;
    padding: 10px;
    border-bottom: 2px;
}
.price{
    text-align: right;
}
.kedar{
    text-align: left;
}
li{
    list-style: none;
}
#rightcol4{
  
    background-color: #f6f7f2;
    border:2px solid #808080 ;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.table2{
    width: 100%;
}
.c1{
    color: #000;
    font-weight: bold;
}
.light{
    color: #808080;
    font-size: small;
}
.dark{
    color: #000;
    font-weight: bold;
    font-size: small;
}
.table1{
    width: 70%;
}
.c2{
    color:#808080;
    font-size: small;
    font-weight: bold;
}
.mydiv {
    display: flex;
    justify-content: center;  /* Centers the container horizontally */
    align-items: center;      /* Centers the container vertically */
    height: 100vh;            /* Makes the div take the full viewport height */
    background-color: #f8fce1;
  }
  
 .navbar{
    background-color: #6987f0;
    
 }
.bt{
    padding: 5px 10px;
    border: 1px solid  #fff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 15px rgb(167, 163, 223)0 0 18px 3px rgba(0,0,0,0.3);
    align-self: end; 
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}
.bt:hover{
    color: #6987f0 ;
    background-color: #fff;
    border: 1px solid  #6987f0;
    font-weight: bolder;
}


