
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif; 
}

.contact .div1{
    width: 100%;
    height:450px ;
   background-color:#3d5a80 ; 
}
.contact img{
    height: 300px;
    width: 400px;
    
}
.contact h1,p{
    color: #fff;
    
}
.contact h3{
    color:#fff
}
#leftcol{
    display: flex;
    flex-direction: column;     /* Align elements vertically */
    justify-content: center;    /* Center elements vertically */
    align-items: center;        /* Center elements horizontally */
    height: 500px;              /* Set the height of the div (adjust as needed) */
    text-align: center;         /
}
.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #c266a7;
}
.contact-type{
    display: flex;
    width: 100%;
}

.contact-type .phone{
    height: 350px;
    width: 300px;
    /* flex: 0 0 33.33%;  */
    margin-right: 20px; 
    margin-top: 25px;
    background: #f0f0f0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(63, 62, 62, 0.819);
    text-align: center;
} 
.contact-type .phone h4{
color: #363737;
margin-top: 15px;
}
.phone button{
    margin-top: 50px;
}

.contact-type .phone h6{
    color: #808080;
    margin-top: 25px;
    }
    .contact-type .whatsapp{
        height: 350px;
        width: 300px;
        /* flex: 0 0 33.33%;  */
        margin-right: 20px; 
        margin-top: 25px;
        background: #f0f0f0;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(63, 62, 62, 0.819);
        text-align: center;
    } 
    .contact-type .whatsapp h4{
    color: #363737;
    margin-top: 15px;
    }

    .whatsapp button{
        margin-top: 50px;
    }
    
    .contact-type .whatsapp h6{
        color: #808080;
        margin-top: 25px;
        }

        .contact-type .instagram{
            height: 350px;
            width: 300px;
            /* flex: 0 0 33.33%;  */
            margin-right: 20px; 
            margin-top: 25px;
            background: #f0f0f0;
            padding: 15px;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(63, 62, 62, 0.819);
            text-align: center;
        } 
        .contact-type .instagram h4{
        color: #363737;
        margin-top: 15px;
        }
        
        .contact-type .instagram h6{
            color: #808080;
            margin-top: 25px;
            } 
           

            .instagram button {
                background: linear-gradient(to right, #c934eb, #5e34eb); /* Example gradient */
                color: white;
                border: none;
                padding: 10px 20px;
                margin-top: 50px;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
                transition: background 0.5s ease;
              }

              .contact-type .e-mail h4{
                color: #363737;
                margin-top: 15px;
                }
                
                .contact-type .e-mail h6{
                    color: #808080;
                    margin-top: 25px;
                }
              
              .instagram button:hover {
                background: linear-gradient(to right, #feb47b, #ff7e5f); 
                
              }
              .contact-type .e-mail{
                height: 350px;
                width: 370px;
                /* flex: 0 0 33.33%;  */
                margin-right: 20px; 
                margin-top: 25px;
                background: #f0f0f0;
                padding: 10px;
                border-radius: 12px;
                box-shadow: 0 5px 15px rgba(63, 62, 62, 0.819);
                text-align: center;
              }

              .e-mail button {
                background:#232220;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                margin-top: 70px;
               
                text-transform: uppercase;
                cursor: pointer;
                transition: background 0.5s ease;
              }
              
              .e-mail button:hover {
                background: #707978; 
              }